.position-boletin {

    position: absolute;
    margin-right: 250px;
    margin-left: 0%;
    margin-top: 0%;
    height: 700px;
    width: 600px;

 }

 body {
     background-color: white;
 }

 #position2{
    
    margin-right: 250px;
    margin-left: 28%;
    margin-top: -2%;
    height: 700px;
    width: 600px;
 }

 #img { max-width: 99%; }

