.position-boletin {
    /*margin-top: -1%;
    margin-left: 27.7%;
    float: left;
    width: 585px;*/
    /* margin: 0 auto 0 auto;*/
    /*padding: 5px;*/
    /*background-color: #000000;*/
   /* color: #fff;*/

    position: absolute;
    margin-right: 250px;
    margin-left: 0%;
    margin-top: 0%;
    height: 677px;
    width: 600px;

 }

 body {
     background-color: black;
 }

 #position2{
    
    margin-right: 250px;
    margin-left: 28%;
    margin-top: -2%;
    height: 677px;
    width: 600px;
 }

 #img { max-width: 99%; }