.position-boletin {
    /*margin-top: -1%;
    margin-left: 27.7%;
    float: left;
    width: 585px;*/
    /* margin: 0 auto 0 auto;*/
    /*padding: 5px;*/
    /*background-color: #000000;*/
   /* color: #fff;*/

    position: absolute;
    margin: 0 auto;
    margin-top: 0%;
    height: 700px;
    width: 600px;

 }

 body {
     background-color: white;
     height: 700px;
     width: 600px;
 }

 #position2{
    position: relative;
    margin-right: 250px;
    margin-left: 60%;
    margin-top: -2%;
    height: 700px;
    width: 600px;
    
 }

#img { max-width: 100%; }
